.button {
  display: inline-block;
  border: none;
  padding: 10px;
  margin-right: 40px;
  width: 70px;
  background-color: rgb(204, 206, 206);
  color: rgb(29, 28, 28);
  box-shadow: none;
  cursor: pointer;
  border-radius: 10%;
  font-size: 16px;
  background-color: rgb(240, 185, 215);
  box-shadow: 3px 2px 20px 5px rgb(163, 17, 199),
    -2px -3px 20px 5px rgb(16, 50, 163);
}

.button:hover,
.button:focus {
  transform: scale(1.1);
  color: #fff;
  background-color: rgb(128, 14, 80);
}

.button__good {
  composes: button;

  background-color: rgb(48, 187, 48);
  box-shadow: 3px 2px 20px 5px rgb(5, 192, 89),
    -2px -3px 20px 5px rgb(5, 192, 89);
}

.button__neutral {
  composes: button;
  background-color: rgb(235, 235, 13);
  box-shadow: 3px 2px 20px 5px rgb(255, 240, 35),
    -2px -3px 20px 5px rgb(255, 240, 35);
}

.button__bad {
  composes: button;
  background-color: rgb(204, 93, 93);
  box-shadow: 3px 2px 20px 5px rgb(185, 85, 85),
    -2px -3px 20px 5px rgb(185, 85, 85);
}
